<!DOCTYPE html>
<html>
  <head>
    <title>Your Account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/account.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/account.js"></script>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div id="container">
        <h1>Welcome, <%= data[0].username %></h1>
        <h3><%= data[0].email %></h3>
        <div>
            <h3>About</h3>
            <p><%= data[0].about %></p>
        </div>
        <div>
            <a href="/user/edit">Edit Profile</a>
            <a href="/user/compose">Create a post</a>
        </div>
        <h2>Publications</h2>
        <div id="allPublications">
          <% articles.forEach(article => { %>
            <div id="article_box">
              <div id="title_container">
                <a href="/<%= article.title %>"><%= article.title %></a>
                <div id="title_actions">
                  <a href="/user/edit/<%= article.title %>">Edit</a>
                  <a href="/user/delete/<%= article.title %>">Delete</a>
                </div>
              </div>
              <h3><%= article.updatedAt.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></h3>
              <p><%= article.meta_summary %></p>
            </div>
          <% }) %>
        </div>
    </div>
  </body>
</html>