<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div id="container">
        <div id="articlePost">
            <h1><%= article.title %></h1>
            <h3><%= article.updatedAt.toLocaleDateString() %> by <%= article.username %></h3>
            <p><%= article.content %></p>

        </div>
    </div>
    <%- include('partials/footer.ejs') %>

  </body>
</html>